@import "tools";

:host {
  display: block;
  position: relative;
  height: 250px;
  width: 100%;
  box-sizing: border-box;

  // Responsive height adjustments
  @media (min-width: 1920px) {
    height: 400px;
  }

  @media (min-width: 1025px) and (max-width: 1919px) {
    height: 350px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    height: 300px;
  }

  @media (max-width: 767px) {
    height: 250px;
  }

  @media (max-width: 375px) {
    height: 200px;
  }
}

canvas {
  width: 100% !important;
  height: 100% !important;
  color: rgba(238, 238, 238, 0.5);
  max-width: 100%;
  box-sizing: border-box;
}
