<div class="point-wallet">
  <h4 class="wallet-title">Carteira de Pontos</h4>
  
  <div class="point-rows">
    <div class="point-row">
      <div class="row-left">
        <i class="ri-lock-fill icon bloqueados"></i>
        <span class="label">Bloqueados</span>
      </div>
      <span class="value">{{ points.bloqueados | number:'1.0-0':'pt-BR' }}</span>
    </div>

    <div class="point-row">
      <div class="row-left">
        <i class="ri-lock-unlock-fill icon desbloqueados"></i>
        <span class="label">Desbloqueados</span>
      </div>
      <span class="value">{{ points.desbloqueados | number:'1.0-0':'pt-BR' }}</span>
    </div>

    <div class="point-row">
      <div class="row-left">
        <i class="ri-coin-fill icon moedas"></i>
        <span class="label">Moedas</span>
      </div>
      <span class="value">{{ points.moedas | number:'1.0-0':'pt-BR' }}</span>
    </div>
  </div>
</div>
