<div class="season-progress">
  <div class="progress-header">
    <h4 class="progress-title">Progresso da Temporada</h4>
    <p class="season-dates">{{ seasonDateRange }}</p>
  </div>

  <div class="progress-rows">
    <div class="progress-row">
      <div class="row-left">
        <i class="ri-focus-3-line icon metas"></i>
        <span class="label">Metas</span>
      </div>
      <span class="value">{{ progress.metas.current }} / {{ progress.metas.target }}</span>
    </div>

    <div class="progress-row">
      <div class="row-left">
        <i class="ri-building-line icon clientes"></i>
        <span class="label">Clientes</span>
      </div>
      <span class="value">{{ progress.clientes | number:'1.0-0':'pt-BR' }}</span>
    </div>

    <div class="progress-row">
      <div class="row-left">
        <i class="ri-checkbox-circle-line icon tarefas"></i>
        <span class="label">Tarefas Finalizadas</span>
      </div>
      <span class="value">{{ progress.tarefasFinalizadas | number:'1.0-0':'pt-BR' }}</span>
    </div>
  </div>
</div>
