<svg xmlns="http://www.w3.org/2000/svg" width="130px" height="130px" class="svg">
    <defs>
        <linearGradient id="greenColor">
            <stop offset="0%" stop-color="#006F09"></stop>
            <stop offset="100%" stop-color="#37CC42"></stop>
        </linearGradient>

        <linearGradient id="redColor">
            <stop offset="0%" stop-color="#440017"></stop>
            <stop offset="100%" stop-color="#743248"></stop>
        </linearGradient>
        
        <linearGradient id="goldColor">
            <stop offset="0%" stop-color="#956f0e"></stop>
            <stop offset="50%" stop-color="#dbcaa0"></stop>
            <stop offset="100%" stop-color="#956f0e"></stop>
        </linearGradient>

        <linearGradient id="blueColor">
            <stop offset="0%" stop-color="#1E40AF"></stop>
            <stop offset="100%" stop-color="#3B82F6"></stop>
        </linearGradient>

        <linearGradient id="purpleColor">
            <stop offset="0%" stop-color="#6B21A8"></stop>
            <stop offset="100%" stop-color="#A855F7"></stop>
        </linearGradient>
    </defs>

    <circle cx="65" cy="65" r="60"
            fill="none"
            stroke="#B3B3B3"
            stroke-width="8">
    </circle>

    <circle cx="65" cy="65" r="60" #circle
            fill="none"
            class="circle {{theme}}"
            stroke-width="8.7"
            stroke-linecap="round"
            stroke-dasharray="380"
            stroke-dashoffset="380"
            stroke="url(#gradientColor)">
    </circle>
</svg>

<div class="centro {{theme}}" *ngIf="valor != null && total != null" flex direction="column" vAlign="center">
    <div [h]="34" class="valor">{{valor}}</div>
    <div class="total">de {{total}}</div>
</div>
